.reveal {
    .slides {
        section {
            color: #FFFFFF;

            h3 {
                color: #1A9CB0;
            }
        }

        .slide1 {
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(60%);
        }

        .slide1__logo {
            background: none;
            box-shadow: none;
            border: none;
            width: 288px;
            height: 108px;
        }

        .slide1__header {
            margin-top: 1em;
            color:   #39C2D7;
        }
    }
}