.reveal {
    .slides {
        section {
            color: #FFFFFF;
            width: 100%;
            height: 100%;

            img {
                border: none;
            }

            h3 {
                color: #1A9CB0;
            }

            > img {
                box-shadow: 5px 8px 50px black;
            }
            .slide__logo {
                width: 144px;
                height: 54px;
                border: none;
                background: none;
                box-shadow: none;
                position: absolute;
                left: -3%;
                bottom: 3%;
            }

            .slide__plans_img {
                width: 470px;
                height: 376px;
            }
            .slide__future-head {
                color: #A3C644;
            }
        }

        .slide1 {
            width: 100%;
            height: 100%;

            .slide1__title {
                color: #FFFFFF;
            }

            .slide1__logo {
                background: none;
                box-shadow: none;
                border: none;
                width: 288px;
                height: 108px;
                position: absolute;
                bottom: 5%;
                left: calc(50% - 144px);
            }
    
            .slide1__header {
                margin-top: 1em;
                color:   #39C2D7;
            }
        }


        .slide4 {
            h3 {
                margin-bottom: 0;
                line-height: 1em;
            }

            .fragment {
                line-height: 0.5em;
            }
            .slide4__img_fire-dog_p2 {
                margin: 0;
            }

        }

        // .slide5 {
        //     .slide5__list {
        //         > li {
        //         }
        //     }
            
        //     .slide5__img {
        //         background: none;
        //         box-shadow: none;
        //         border: none;
        //         position: absolute;
        //         top: 2%;
        //         width: 60px;
        //         height: 60px;
        //         opacity: 0.95;
        //     }

        //     .slide5__analytics {
        //         right: calc(1% + 80px);
        //     }

        //     .slide5__cloud {
        //         right: 1%;
        //     }

        //     .slide5__collaboration {
        //         right: calc(1% + 165px);
        //     }
        // }

        .slide6 {
            .slide6__list {
                z-index: 100;
                position: relative;
            }
            .slide6__img_customer {
                background: none;
                box-shadow: none;
                border: none;
                position: absolute;
                width: 238px;
                height: 236px;
                right: 7%;
                top: 13%;
                z-index: 2;
            }
        }

        .slide8 {
            .slide8__tech_stack {
                background: none;
                box-shadow: none;
                border: none;
                position: absolute;
            }

            .slide8__text_flex {
                display: flex;
                justify-content: space-between;
            }

            .slide8__text {
                // margin: auto;
                font-size: 36px;
                // float: left;
            }

            .slide8__react {
                width: 172px;
                height: 122px;
                top: 25%;
                left: -3%;
            }

            .slide8__redux {
                width: 93px;
                height: 84px;
                top: 27%;
                left:15%;
            }

            .slide8__webpack {
                width: 172px;
                height: 94px;
                top: 41%;
                left:5%;
            }

            .slide8__jest {
                width: 170px;
                height: 91px;
                top: 56%;
                left: 6%;
            }

            .slide8__nodejs {
                width: 180px;
                height: 110px;
                top: 69%;
                left: 5%;
            }

            .slide8__postgresql {
                width: 94px;
                height: 103px;
                width: 141px;
                height: 154px;
                top: 72%;
                left: 37%
            }

            .slide8__java {
                width: 156px;
                height: 156px;
                top: 25%;
                left:30%;
            }

            .slide8__spring {
                width: 175px;
                height: 57px;
                top: 48%;
                left:35%;
            }

            .slide8__hibernate {
                width: 120px;
                height: 36px;
                top: 68%;
                left: 39%;
            }

            .slide8__gradle {
                width: 160px;
                height: 55px;
                top: 58%;
                left: 36%;
            }

            .slide8__swagger {
                width: 80px;
                height: 80px;
                top: 32%;
                left: 47%;
            }

            .slide8__gitlab {
                width: 175px;
                height: 175px;
                top: 30%;
                left: 63%;
            }

            .slide8__jenkins {
                width: 100px;
                height: 162px;
                top: 28%;
                left: 86%;
            }

            .slide8__docker {
                width: 219px;
                height: 138px;
                top: 58%;
                left: 69%;
            }
        }

        .slide16 {

            .slide16__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .slide16__plans_img {
                    width: 512px;
                    height: 425px;
                }
            }
            
        }

        .slide17 {

            .slide17__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .slide17__plans_img {
                    width: 512px;
                    height: 484px;
                }
            }
            
        }

        .slide18 {
            

            .slide18__container {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .slide18__plans_img_4 {
                    width: 460px;
                    height: 427px;
                }

                .slide18__plans_img_5 {
                    width: 460px;
                    height: 459px;
                }
            }
        }

        .slide19 {

            .slide19__container {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .slide19__plans_img {
                    width: 460px;
                    height: 459px;
                }
            }
            
        }

        .slide20__container, .slide21__container {
            display: flex;
                justify-content: space-around;
                align-items: center;
        }
        .slide20__plans_img_8, .slide20__plans_img_9,
        .slide21__plans_img_10, .slide21__plans_img_11 {
            width: 470px;
            height: 376px;
        }

        .slide23 {
            .slide23__container {

                .team-img {
                    float: left;
                    display: flex;
                    box-shadow: none;
                    border: none;
                    background: none;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    // margin: 50px 20px;
                }
            }
        }

        .slide24 {
            .slide24__container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .team-img {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin: 50px 20px;
                }
            }
        }

            .slide25 {
                 .slide25__container {
                     display: flex;
                     flex-direction: row;
                     justify-content: space-around;
                     align-items: center;
                     .team-img {
                         display: flex;
                         flex-direction: column;
                         justify-content: space-around;
                         align-items: center;
                         margin: 30px 20px;
                     }
                 }
             }

        .slide26 {
            .slide26__container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .team-img {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin: 30px 20px;
                }
            }
        }

        .slide8_1 {
            .slide8_1__current {
                width: 768px;
                height: 480px;
            }
        }

        .slide21_1 {
            .slide21_1__plans_img {
                margin: 0;
                width: 730px;
                height: 456px;
            }
        }

            .subs {
                font-size: 27px;
                width: 185px;
            }

            .thanks {
                margin-top: 160px;
            }

            .questions {
                margin-top: 50px;
            }

            .neuro {
                display: block;
                margin: 0 auto;
                margin-top: 20px;
                box-shadow: 5px 8px 50px black;
            }

            .co-worker, .img_box-shadow {
                box-shadow: 5px 8px 50px black;
            }
    }


}